* {
  margin: 0;
  padding: 0;
  background: #f5f5eb;
}

.bayan {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
  margin: 0 50px 0 50px;
  cursor: pointer;
  color: blue;
}
.bayan:hover {
  color: black;
}

.bayan_item {
  height: 100%;
  text-align: center;
}
h1 {
  padding: 20px 0 20px 0;
}
h3 {
  padding: 20px 0 20px 0;
  text-align: start;
}
img {
  padding-bottom: 30px;
  height: auto;
  width: 400px;
}

.bayan_elem {
  display: flexbox;
  justify-content: space-between;
}
.bayan:not(:nth-child(5)) img {
  display: none;
}

.bayan_item:hover img {
  display: inline-block;
  transition: 3s;
}

.bayan_title {
  display: block;
  text-align: start;
  position: relative;
  padding: 20px 0 20px 0;
  font-size: 20px;
}
.bayan_title::before {
  content: "\FF0B";
  float: right;
  color: black;
  font-size: 20px;
}

.bayan_input:checked + .bayan_title:before {
  transition: transform 0.25s;
  transform: rotate(45deg);
}
.bayan_input {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.bayan_input:checked ~ .bayan_img {
  display: block;
}
